
  h1{
    color:blueviolet;
    text-align: center;
    font-family: 'Cookie', cursive;
  }

   body{
    background-image:url('https://cdn.pixabay.com/photo/2018/04/14/17/57/instagram-3319588__340.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
  } 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    padding-top: 30px;
  }
  img {
    border-radius: 50%;
  }